
<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="container  ">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Gestion Cinema</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a routerLink="cinemas">Home</a></li>
      <li><a routerLink="admin/city">Ville</a></li>
      <li><a routerLink="admin/cinema">Cinema</a></li>
      <li><a routerLink="admin/room">Salle</a></li>
      <li><a routerLink="admin/session">session</a></li>
      <li ><a routerLink="admin/movie">Films</a></li>
      <li><a routerLink="admin/projection">Projection</a></li>

<!--       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="admin/city">Ajouter une Ville</a></li>
          <li><a routerLink="admin/cinema">Ajouter un Cinema</a></li>
          <li><a routerLink="admin/room">Ajouter une Salle</a></li>
          <li><a routerLink="admin/session">Ajouter une session</a></li>
          <li><a routerLink="admin/projection">Ajouter une projection</a></li> 
        </ul>
      </li>-->

    </ul>
  </div>
</div>
</nav>
