<div class="row">
 
  <div class="col-md-6">
    <div class="panel-heading">List des Films</div>
    <ul *ngIf="movies" class="list-group">
      <li *ngFor="let movie of movies._embedded.movies"
            (click)="onGetMovieDetails(movie)"
            [ngClass]="{active: movie.title==currentMovie}"
            class="list-group-item"
            style="cursor: pointer;font-size: 18px;"
            hover="Cliquez pour voir les détails">
        {{movie.title}}

        <ul *ngIf="currentMovie" class="list-group">
          <li class="list-group-item"
          style="cursor: pointer; color: black;font-size: 14px;"
          >Realisateur: {{movie.director}}</li>
          <li class="list-group-item"
          style="cursor: pointer; color: black;font-size: 14px;"
          >Durée: {{movie.duration}}</li>
          <li class="list-group-item"
          style="cursor: pointer; color: black;font-size: 14px;"
          >Date de sortie: {{movie.releaseDate}}</li>
        </ul>
      </li>
    </ul>
  </div>
 
    <div class="col-md-6">
      <div class="panel panel-info panel-info">
        <div class="panel-heading">Ajouter un film</div>
        <div class="panel-body">
            <form #f="ngForm" (ngSubmit)="onSaveMovie(f.value)">

                <div class="form-group">
                    <label for="name">Nom du film</label>
                    <input type="text" 
                    ngModel name="title" 
                    id="title" 
                    class="form-control"
                    ngModel required>
                </div>
                <div class="form-group">
                    <label for="name">Realisateur du film</label>
                    <input type="text" 
                    ngModel name="director" 
                    id="director" 
                    class="form-control"
                    ngModel required>
                </div>
                <div class="form-group">
                    <label for="name">Durée</label>
                    <input type="text" 
                    ngModel name="duration"
                    id="duration" 
                    class="form-control"
                    ngModel required>
                </div>
                <div class="form-group">
                    <label for="name">Date de sortie</label>
                    <input type="text" 
                    ngModel name="releaseDate" 
                    id="releaseDate" 
                    class="form-control"
                    ngModel required>
                </div>

            <button class="btn btn-primary" type="submit">save</button>
          </form>
        </div>
        </div>
  
        <hr>
        
        <!-- <div *ngIf="idMovies">
        <h3>Movie management</h3>
          <div class="panel panel-info">
            <div class="panel-heading">Adding Movie</div>
            <div class="panel-body"></div>
        </div>
      </div> -->

    </div>
  </div>
  