<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">Ajouter un film</div>
        <div class="panel-body">
            <form #f="ngForm" (ngSubmit)="onSaveMovie(f.value)">

                <div class="form-group">
                    <label for="name">Nom du film</label>
                    <input type="text" 
                    ngModel name="title" 
                    id="title" 
                    class="form-control"
                    ngModel required>
                </div>
                <div class="form-group">
                    <label for="name">Realisateur du film</label>
                    <input type="text" 
                    ngModel name="director" 
                    id="director" 
                    class="form-control"
                    ngModel required>
                </div>
                <div class="form-group">
                    <label for="name">Durée</label>
                    <input type="text" 
                    ngModel name="duration"
                    id="duration" 
                    class="form-control"
                    ngModel required>
                </div>
                <div class="form-group">
                    <label for="name">Date de sortie</label>
                    <input type="text" 
                    ngModel name="releaseDate" 
                    id="releaseDate" 
                    class="form-control"
                    ngModel required>
                </div>


          <!-- <div class="form-group">
              <label for="name">Ville</label> 
              <select (change)="onCityChange($event)" ngModel name="city" class="form-control">
                <option value="" >Choose a city</option> 
                <option *ngFor="let city of cities" [value]="city.id">
                  {{ city.name }}
                </option>
              </select>
            </div> -->
            
            <!-- <div class="form-group">
              <label for="name">Cinema</label>
              <select (change)="onCinemaChange($event)" name="cinema" ngModel class="form-control">
                <option value="" >Choose a cinema</option> 
                <option *ngFor="let cinema of cinemas" [value]="cinema.id">
                  {{ cinema.name }}
                </option>
              </select>
            </div> -->
            <button class="btn btn-primary" type="submit">save</button>
          </form>
        </div>
        </div>
  
        <hr>
        
        <!-- <div *ngIf="idMovies">
        <h3>Movie management</h3>
          <div class="panel panel-default">
            <div class="panel-heading">Adding Movie</div>
            <div class="panel-body"></div>
        </div>
      </div> -->

    </div>
  </div>
  